*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

body {
  position: relative;
}

iframe {
  width: 100vw;
  height: 100vh;
}

.drag {
  -webkit-app-region: drag;
  background-color: transparent;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 75px;
  z-index: 999;
}


