.rain {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#111119));
  background: linear-gradient(to bottom, #202020, #111119);
  z-index: -1;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  -webkit-animation: drop 0.5s linear infinite;
          animation: drop 0.5s linear infinite;
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  75% {
    -webkit-transform: translateY(90vh);
            transform: translateY(90vh);
  }
  100% {
    -webkit-transform: translateY(90vh);
            transform: translateY(90vh);
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  75% {
    -webkit-transform: translateY(90vh);
            transform: translateY(90vh);
  }
  100% {
    -webkit-transform: translateY(90vh);
            transform: translateY(90vh);
  }
}

.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.25)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  -webkit-animation: stem 0.5s linear infinite;
          animation: stem 0.5s linear infinite;
}

@-webkit-keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: splat 0.5s linear infinite;
          animation: splat 0.5s linear infinite;
}

body.splat-toggle .splat {
  display: block;
}

@-webkit-keyframes splat {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes splat {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.splat-toggle {
  top: 20px;
}

.back-row-toggle {
  top: 90px;
  line-height: 12px;
  padding-top: 14px;
}

.single-toggle {
  top: 160px;
}

body.single-toggle .drop {
  display: none;
}

body.single-toggle .drop:nth-child(10) {
  display: block;
}
/*# sourceMappingURL=rain.css.map */